.menu {
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    &_active {
        background-color: #f8f8f8;
        .icon-menu {
            &:before {
                color: #132241;
            }
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &__logo {
        width: 111px;
    }
    &__icon {
        .icon-menu {
            font-size: 20px;
        }
    }
}
.messengers {
    display: flex;
    align-items: center;
    &__icon {
        line-height: normal;
        font-size: 32px;
        color: black;
        text-decoration: none;
        & + & {
            margin-left: 11px;
        }
    }
}
