<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
@@include("../blocks/modules/menu/menu.html")

<section class="list-item-page">
    <div class="title-image" style="--data-image: url('/img/title-image.png')">
        <h1 class="title">Семейный отдых с детьми 2022</h1>
    </div>

    <div class="content_margin">
        <p>Хотите сделать сюрприз своим родным? Отправляйтесь с детьми в Крым, к морю! Это будет для них самым
            лучшим подарком, который они запомнят на всю жизнь. Ведь каждый ребенок с нетерпением ждет лета,
            чтобы поехать с родителями отдыхать на пляже и купаться в теплом море. Сотни семей ежегодно проводят
            в Крыму отдых с детьми на море, чтобы весело провести время и получить массу позитивных эмоций. Есть
            несколько причин провести семейный отдых в Крыму с детьми 2021:</p>
        <p>Крымская природа и климат обладают целебными свойствами. Поэтому отдыхая с детьми у моря, Вы сможете не
            только подарить им хорошее настроение, но и укрепить детский организм.</p>

        <p>Крымские курорты очень разнообразны. Здесь можно отдохнуть в крупных курортных городах, где бурлит яркая
            и шумная жизнь, а также в тихих уютных поселках, которые славятся тишиной и покоем.</p>

        <p>Благодаря многочисленным развлечениям Ваш семейный отдых в Крыму с детьми не будет скучным и
            однообразным.</p>

        <p>Цены на отдых в Крыму летом у моря разнообразны, а значит, доступны каждому. Вы найдете здесь как
            недорогие номера, так и комфортабельные апартаменты.</p>

        <a href="#" class="link">На море с детьми</a>
        <a href="#" class="link-arrow">Цены на отдых</a>

        <figure>
            <img src="../img/content-image.png" alt="" />
            <figcaption>Подпись к фото. Лишние пару ключей</figcaption>
        </figure>

        <p>
            Для проведения семейного отдыха туристам стоит более внимательно подходить к выбору жилья. Ведь чем комфортнее будет отдыхать детям, тем лучше пройдет Ваш отдых у моря. Разнообразные отели в Крыму для отдыха с детьми предлагают расположиться в уютных номерах, а также стараются обеспечить своим гостям максимальный комфорт, предоставляя большой список дополнительных услуг. Это позволит малышам почувствовать себя, как дома, и получать удовольствие от отдыха у берега моря.
        </p>
        <cite>
            «Не упустите возможность отправиться на отличный курорт у Черного моря. Лучший отель Крыма для отдыха с детьми «Галислава», расположенный в населенном пункте Мирный, приглашает Вас в гости. На западном побережье полуострова созданы идеальные условия для полноценной релаксации»
        </cite>

        <p>Отель «Галислава» - это отличный выбор для тех, кто хочет провести <a href="#">отдых в Крыму на первой линии</a>. В отеле "Галислава" созданы все условия, чтобы Ваш отдых с ребенком был не только комфортным, но и насыщенным позитивными эмоциями.</p>

    </div>

</section>

@@include("../blocks/modules/popular-read/popular-read.html")

@@include("../blocks/modules/footer/footer.html")
<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>
