.footer {
    background-color: #132241;
    padding: 0 19px 35px 19px;
    &__logo {
        padding-top: 9px;
        a {
            display: inline-block;
        }
        img {
            @include lg(width, 162px);
            width: 77px;
        }
    }
    &-single-block {
        @include lg(flex-wrap, nowrap);
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-menu {
        display: flex;
        flex-wrap: wrap;
        margin: 38px 0 0 0;
        a {
            color: #f8f8f8;
            &:hover {
                text-decoration: underline;
            }
        }
        &__item {
            @include lg(width, auto);
            margin-bottom: 32px;
            width: 50%;
            display: inline-block;
            vertical-align: top;
            &_tertiary {
                @include lg(width, auto);
                width: 31%;
                text-align: left;
                & + & {
                    margin-left: 1%;
                }
                &:nth-child(2) {
                    text-align: center;
                }
            }
            &:nth-child(2n+5) {
                text-align: center;
            }
        }
        &__title {
            @include lg(font-size, 20px);
            @include lg(line-height, 24px);
            font-size: 16px;
            & + .footer-menu__subitem {
                margin-top: 5px;
            }
        }
        &__subitem {
            @include lg(margin, 10px 0 0 12px);
            @include lg(font-size, 16px);
            @include lg(line-height, 20px);
            display: block;
            font-size: 10px;
            margin: 0 0 0 12px;
            & + & {
                @include lg(margin-top, 10px);
                margin-top: 2px;
            }
        }
    }
    &__contacts {
        @include lg(width, 250px);
        @include lg(order, -1);
        font-size: 10px;
        color: #F8F8F8;
        [class*=icon-] {
            margin: 3px 15px 0 0;
        }
        .icon-gps, .icon-phone {
            font-size: 18px;
            margin: 3px 18px 0 1px;
        }
        .icon-phone {
            margin: 3px 15px 0 2px;
        }
        ul {
            li {
                @include lg(font-size, 16px);
                @include lg(line-height, 20px);
                display: flex;
                align-items: flex-start;
                line-height: 14px;
                &:last-child {
                    align-items: center;
                }
                & + li {
                    @include lg(margin-top, 10px);
                    margin-top: 5px;
                }
            }
        }
        a {
            color: #F8F8F8;
        }
    }
    &__logo-akk {
        @include lg(text-align, center);
        margin-top: 45px;
        a {
            display: inline-block;
        }
        img {
            @include lg(width, 250px);
            @include lg(margin, 0 auto);
            width: 154px;
        }
    }
}
