.slider {
    &__rooms-item {
        margin: 8px;
    }
}
.slider-list {
    &__preview {
        margin: .8rem 0 0 0;
        img {
            width: auto;
        }
    }
    .slider-list__title {
        color: #132241;
        font-weight: 600;
        font-size: 16px;
        margin: 8px 0 0 0;
        display: block;
    }
    .slider-list__update {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 12px;
        color: #A1A1A1;
        margin: 6px 0 0 0;
        > span {
            width: 100%;
        }
    }
    .slider-list__img {
        display: block;
    }
    &_margin {
        margin: 2rem 0 2rem 0;
    }
}
