.title {
    @include lg(font-size, 64px);
    @include lg(line-height, 77px);
    font-size: 21px;
    line-height: 25px;
    color: #132241;
    font-weight: 700;
    margin: 0 0 8px 0;
    &_margin {
        margin-top: 24px;
    }
}
.subtitle {
    @include lg(font-size, 16px);
    color: #FF5757;
    font-size: 10px;
    &:hover {
        text-decoration: none;
    }
    &:after {
        content: " -->";
    }
}
