.list-item-page {
    .title-image {
        display: flex;
        align-items: center;
        min-height: 242px;
        background-image: linear-gradient(0deg, rgba(19, 34, 65, 0.51), rgba(19, 34, 65, 0.51)), var(--data-image);
        background-repeat: no-repeat;
        background-position: center center;
        .title {
            margin: 0 1rem;
            z-index: 10;
            font-size: 36px;
            text-align: center;
            color: #F8F8F8;
            line-height: 43px;
        }
    }
}
